html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

@keyframes matrix-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 var(--matrix-pos);
  }
}

@keyframes cube-move {
  from {
    transform: translateZ(var(--cube-from));
  }
  to {
    transform: translateZ(var(--hq-size));
  }
}

@keyframes cube-opacity {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

:root {
  /* --bg-color: #262626;
  --top-color: #20827e;
  --bottom-color: #b63833;
  --cube-color: #8a0303;
  --cube-bg-color: #8a030369; */
  --bg-color: #001437;
  --top-color: #7898fb;
  --bottom-color: #5ce5d5;
  --cube-color: #b8fbc3;
  --cube-bg-color: #b8fbc369;

  --matrix-width: 400vw;
  --matrix-height: 200vh;
  --matrix-border: 30px;
  --matrix-angle: 90deg;

  --matrix-speed: 1000ms;
  --cube-speed: 12000ms;

  --perspective: 500px;

  --matrix-edge: calc(var(--matrix-height) / 8);
  --matrix-edge-half: calc(var(--matrix-edge) / 2);
  --matrix-border-half: calc(var(--matrix-border) / 2);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: var(--perspective);
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    var(--bg-color) 45%,
    #000f2c 50%,
    var(--bg-color) 55%,
    var(--bg-color) 100%
  );
}

.matrix {
  position: absolute;
  width: var(--matrix-width);
  height: var(--matrix-height);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--bg-color);
  background-image: var(--matrix-shadow),
  repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(var(--matrix-edge-half) - var(--matrix-border-half)),
    var(--matrix-color) var(--matrix-edge-half),
    transparent calc(var(--matrix-edge-half) + var(--matrix-border-half)),
    transparent var(--matrix-edge)
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent calc(var(--matrix-edge-half) - var(--matrix-border-half)),
      var(--matrix-color) var(--matrix-edge-half),
      transparent calc(var(--matrix-edge-half) + var(--matrix-border-half)),
      transparent var(--matrix-edge)
    );
  animation-name: matrix-bg;
  animation-duration: var(--matrix-speed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.matrix.top {
  top: 0;
  transform-origin: top;
  transform: rotateX(calc(var(--matrix-angle) * -1));
  --matrix-pos: calc(var(--matrix-edge) * -1);
  --matrix-color: var(--top-color);
  --matrix-shadow: linear-gradient(to bottom, transparent, var(--bg-color));
}

.matrix.bottom {
  bottom: 0;
  transform-origin: bottom;
  transform: rotateX(var(--matrix-angle));
  --matrix-color: var(--bottom-color);
  --matrix-pos: var(--matrix-edge);
  --matrix-shadow: linear-gradient(to bottom, var(--bg-color), transparent);
}

.cube {
  position: absolute;
  --edge-multi: 2;
  --size: calc(var(--matrix-edge) * var(--edge-multi));
  --minus-size: calc(var(--size) * -1);
  --half-size: calc(var(--size) / 2);
  --minus-half-size: calc(var(--half-size) * -1);
  --quarter-size: calc(var(--size) / 4);
  --minus-quarter-size: calc(var(--quarter-size) * -1);
  --octave-size: calc(var(--size) / 8);
  --hq-size: calc(var(--half-size) + var(--quarter-size));
  --minus-hq-size: calc(var(--hq-size) * -1);
  --cube-quarter-speed: calc(var(--cube-speed) / 4);

  transform-style: preserve-3d;
  animation-name: cube-move;
  animation-duration: var(--cube-speed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  --matrix-border-quarter: calc(var(--matrix-border) / 4);
  --cube-from: calc((var(--matrix-height) + var(--size)) * -1);
}

.cube > div {
  position: absolute;
  opacity: 0;
  animation-name: cube-opacity;
  animation-delay: inherit;
  animation-duration: inherit;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}

.cube.nr1 {
  animation-delay: 0;
}
.cube.nr2 {
  animation-delay: calc(var(--cube-speed) * 0.25);
}
.cube.nr3 {
  animation-delay: calc(var(--cube-speed) * 0.5);
}
.cube.nr4 {
  animation-delay: calc(var(--cube-speed) * 0.75);
}

.cube > .front,
.cube > .back {
  width: var(--size);
  height: var(--size);
  border-radius: var(--matrix-border-quarter);
  box-shadow: 0 0 var(--matrix-border-quarter) var(--matrix-border-quarter) var(--cube-color),
    inset 0 0 var(--matrix-border-quarter) var(--matrix-border-quarter) var(--cube-color);
}

.cube > .front {
  transform: translateX(var(--minus-half-size)) translateY(var(--minus-half-size)) translateZ(var(--quarter-size));
}

.cube > .back {
  transform: translateX(var(--minus-half-size)) translateY(var(--minus-half-size)) translateZ(var(--minus-quarter-size));
}

.cube > .left {
  transform: translateX(var(--minus-hq-size)) translateY(var(--minus-half-size)) rotateY(90deg);
}

.cube > .right {
  transform: translateX(var(--quarter-size)) translateY(var(--minus-half-size)) rotateY(90deg);
}

.cube > .top {
  transform: translateX(var(--minus-half-size)) translateY(var(--minus-hq-size)) rotateX(90deg);
}

.cube > .bottom {
  transform: translateX(var(--minus-half-size)) translateY(var(--quarter-size)) rotateX(90deg);
}

.cube > .left,
.cube > .right,
.cube > .top,
.cube > .bottom {
  background-image: radial-gradient(circle, var(--cube-bg-color) 69%, transparent 100%);
}

.cube > .left,
.cube > .right {
  width: var(--half-size);
  height: var(--size);
}

.cube > .top,
.cube > .bottom {
  width: var(--size);
  height: var(--half-size);
}
