html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#000, #cfc);
}

* {
  box-sizing: border-box;
}

:root {
/* .container { */
  --rotate-x-deg: 0deg;
  --rotate-y-deg: 0deg;
  --rotate-z-deg: 0deg;
  --border-width-px: 5px;

  --cols: 4;
  --rows: 4;
  --floors: 5;

  --edge: 25px; /* will be good for travel in the tube */
  /* --edge: 125px; */

  /* --edge--px: calc(var(--edge) - 4px); */

  --perspective: 50px; /*dimensions.floors * view.edge * 2*/

  --perspectiveX: 50%;
  --perspectiveY: 50%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
  perspective: var(--perspective);
  /* transition: perspective-origin 200ms ease-out; */
  perspective-origin: var(--perspectiveX) var(--perspectiveY);
}


.cube {
  --size: var(--edge-vw);
  --halfSize: calc(var(--size) / 2);

  position: absolute;
  transform-style: preserve-3d;
  transform:
    translate(calc(0px - var(--halfSize)), calc(0px - var(--halfSize)))
    rotateX(var(--rotate-x-deg))
    rotateY(var(--rotate-y-deg))
    rotateZ(var(--rotate-z-deg));

  > div {
    position: absolute;
    width: var(--size);
    height: var(--size);
    /* backface-visibility: visible; */
    border: var(--border-width-px) solid #666;
  }

  .front {
    transform: rotateY(0deg) translateZ(var(--halfSize));
  }
  .right {
    transform: rotateY(90deg) translateZ(var(--halfSize));
  }
  .back {
    transform: rotateY(180deg) translateZ(var(--halfSize));
  }
  .left {
    transform: rotateY(-90deg) translateZ(var(--halfSize));
  }
  .top {
    transform: rotateX(90deg) translateZ(var(--halfSize));
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(var(--halfSize));
  }
}

/*
**
*/


.front {
  transform: translateZ(var(--edge));
}

.right {
  right: 0;
  transform-origin: right;
  transform: rotateY(90deg);
}

.left {
  left: 0;
  transform-origin: left;
  transform: rotateY(-90deg);
}

.top {
  top: 0;
  transform-origin: top;
  transform: rotateX(90deg);
}

.bottom {
  bottom: 0;
  transform-origin: bottom;
  transform: rotateX(-90deg);
}


.scene {
  transform-style: preserve-3d;
  position: absolute;

  width: calc(var(--cols) * var(--edge));
  height: calc(var(--rows) * var(--edge));
  --edge--px: calc(var(--edge) - 4px);

  .side {
    position: absolute;
    border: 1px solid #a00;

    background-image:
      repeating-linear-gradient(to right, transparent, transparent var(--edge--px), #600 var(--edge)),
      repeating-linear-gradient(to bottom, transparent, transparent var(--edge--px), #600 var(--edge));

    &.back {
      width: 100%;
      height: 100%;
      opacity: 0.65;
    }
    &.top, &.bottom {
      width: calc(var(--cols) * var(--edge));
      height: calc(var(--floors) * var(--edge));
    }
    &.left, &.right {
      width: calc(var(--floors) * var(--edge));
      height: calc(var(--rows) * var(--edge));
    }
  }
}
